@font-face {
    font-family: Norse-Bold;
    src:    local("Norse-Bold"),
            url(resources/Norse-Bold.otf);
}

body {
    display: flex;
}

aside {
    display: flex;
    flex-grow: 1;
    /* flex-basis: 100%; */
    background-image: url("resources/queb.jpg");
    background-size: cover;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

aside .logo{
    display: flex;
    align-items: center;
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem 8rem;
}

aside div img {
    width: 5rem;    
}

aside .logo div {
    font-family: "Norse-Bold";
}

main {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 3rem 9rem 3rem 3rem;
}